@model Somativa.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<h1 class="cabecario fw-lighter" style="font-size: 50px; margin-bottom: 0;">editar</h1>
<h4 class="cabecario">FORNECEDOR</h4>
<hr />
<div class="row" style="justify-content: center;height: 100vh; background: radial-gradient(50% 50% at 50% 50%, #2F2D2D 0%, #171717 100%); ">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FornecedorId" />
            <div class="form-floating mb-3">
                <input asp-for="Nome" class="form-control" placeholder=" " />
                <label asp-for="Nome" class="control-label text-dark"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Cnpj" class="form-control" placeholder=" " />
                <label asp-for="Cnpj" class="control-label text-dark"></label>
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
