.container[b-wq5ekzpzs8] {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.btnADD[b-wq5ekzpzs8] {
    display: flex;
    justify-content: center;
}
.card[b-wq5ekzpzs8] {
    border-radius: 15px;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 331px;
    height: 340px;
    margin-right: 20px;
    overflow: hidden;
}

.image-container[b-wq5ekzpzs8] {
    flex: 1;
    overflow: hidden;
    position: relative;
}

img[b-wq5ekzpzs8] {
    width: 331px;
    height: 101px;
    object-fit: cover;
}

.info[b-wq5ekzpzs8] {
    padding: 16px;
}

.nome[b-wq5ekzpzs8] {
    color: #000;
    font-size: 26px;
    font-weight: 700;
}

.preco[b-wq5ekzpzs8] {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.categoria[b-wq5ekzpzs8],
.fornecedor[b-wq5ekzpzs8] {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.bAction[b-wq5ekzpzs8] {
    display: flex;
    gap: 8px;
    margin-top: auto;
}
