@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <form style="justify-content: center; display: flex" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class=" btn btn-secondary btn-lg w-75 mb-3 fw-bold">SAIR</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item" style="justify-content: center; display: flex">
            <a class="btn btn-secondary  w-75 mb-3 btn-lg fw-bold" asp-area="Identity" asp-page="/Account/Register">REGISTRAR-SE</a>
        </li>
        <li class="nav-item" style="justify-content: center; display: flex">
            <a class=" btn btn-primary  w-75 mb-3 btn-lg fw-bold" asp-area="Identity" asp-page="/Account/Login">ENTRAR</a>
        </li>
    }
</ul>
