body[b-ssyuic2elj] {
}

.cabecario[b-ssyuic2elj] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}