body {
}


.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.card {
    border-radius: 15px;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    width: 381px;

    margin-right: 20px;
    margin-bottom: 20px;
}

.cabecario {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nome {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 26px;
}