body[b-33n2fg5mbg] {
}

.cabecario[b-33n2fg5mbg] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
