body[b-juuql268w2] {
}
.cabecario[b-juuql268w2] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btnADD[b-juuql268w2] {
    display: flex;
    justify-content: center;
}