body {
    margin: 0;
    padding: 0;
}

.grabApresent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, #2F2D2D 0%, #171717 100%);
    color: white;
    margin-bottom: 20px;
}

.int {
    align-items: start;
}

.textOla {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 34px;
    color: white;
    font-family: Inter;
    padding: 0;
    margin: 0;
    align-items: center;
}

h2 {
    font-size: 50px;
    margin: 0;
    font-family: Inter;
    color: white;
    align-self: flex-end;
}

.cardApresent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imgMid {
    width: 100%; /* Alterado para ocupar a largura total em telas menores */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adicionado um espaçamento entre a imagem e o texto */
}

.textMid {
    width: 100%; /* Alterado para ocupar a largura total em telas menores */
    font-size: 25px;
    font-family: Inter;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.cardapio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.topCardapio {
    margin: 0;
    font-family: Inter;
    color: white;
    margin-top: 20px;
}

h3 {
    font-size: 50px;
}

.imgCardapio {
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    /* Aplicar estilos para telas maiores que 768px se necessário */
    .imgMid {
        width: 50%;
        margin-bottom: 0; /* Removido o espaçamento para telas maiores */
    }

    .textMid {
        width: 50%;
    }
}

/* Adicionando responsividade às imagens dentro da seção "cardapio" */
.cardapio img {
    max-width: 100%;
    height: auto;
}
