@{
    ViewData["Title"] = "CONTATO";
}

<div class="container-flui d-flex align-items-center justify-content-centerd" style="height: 100vh; background: radial-gradient(50% 50% at 50% 50%, #2F2D2D 0%, #171717 100%);">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 text-left text-white px-4">
            <h1 class="font-size-64 fw-bolder">@ViewData["Title"]</h1>
            <p>
                Bem-vindo à Grab, sua escolha deliciosa para refeições rápidas e saborosas! Estamos aqui para tornar sua experiência gastronômica incrível.
                Se você tiver alguma dúvida, feedback ou precisar de assistência, não hesite em entrar em contato conosco. Estamos ansiosos para ouvir de você!
            </p>
            <p>
                Estamos comprometidos em fornecer o melhor serviço aos nossos clientes. Seja para fazer um pedido, fornecer feedback ou apenas dizer olá, estamos
                aqui para você. A equipe Grab agradece pela sua preferência e aguarda ansiosamente por sua visita!
            </p>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-8 col-12 card text-white bg-dark mx-auto" style="max-width: 400px; margin-left: 20px;">
            <div class="card-header bg-success">
                <h2 class="mb-0">Informações de Contato</h2>
            </div>
            <div class="card-body">
                <p><strong>Endereço:</strong> Rua da Gula, 123<br>Cidade Saborosa, Estado Delicioso<br>CEP: 12345-678</p>
                <p><strong>Telefone:</strong> (55) 1234-5678</p>
                <p><strong>E-mail:</strong> info@grabfastfood.com</p>
                <p><strong>Horário de Funcionamento:</strong> Segunda a Domingo: 10h00 - 22h00</p>
                <p><strong>Redes Sociais:</strong> Siga-nos no Facebook, Instagram e Twitter para ficar atualizado sobre nossas ofertas especiais, novos itens do menu e muito mais! @@GRAB.OFICIAL em todas</p>
            </div>
        </div>
    </div>
</div>

