@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar e-mail de confirmação";
}



<div class="row">
    <div class="col-md-4" style="width: 100%; height: 100vh;">
        <form method="post" style="display: flex; flex-direction: row;" class="text-white">
            <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100vh; margin-left:20px">
                <h1 style="font-weight: bolder;font-size: 60px;">@ViewData["Title"]</h1>
                <h2 class="text-white" style="font-weight: lighter;font-size: 40px;">Coloque seu Email.</h2>
            </div>
            <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100vh; margin-right:20px">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder=" " />
                    <label asp-for="Input.Email" class="control-label text-dark">Email: </label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reenviar</button>
            </div>

           
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
