body[b-1n50dj4xwh] {
}

.cabecario[b-1n50dj4xwh] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btnADD[b-1n50dj4xwh] {
    display: flex;
    justify-content: center;
}