@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="cabecario">Gerencie sua conta</h1>

<div>
    <h2 style="font-weight: bolder;font-size: 40px;display: flex; justify-content:center;" class="text-white">Alterar as configurações da sua conta</h2>
    <hr />
    <div class="flex-column">
        <div class="col-md-3 w-100">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
