@page
@model PersonalDataModel
@{
    ViewData["Title"] = "DADOS PESSOAIS";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 style="display: flex;justify-content: center;color: white;font-weight: bold;" class="mb-4">@ViewData["Title"]</h3>

<div class="row" class="row text-white" style="display: flex; flex-direction: column;justify-content: center; align-content: center;" >
    <div class="col-md-6">
        <p class="text-white">Sua conta contém dados pessoais que você nos forneceu. Esta página permite que você baixe ou exclua esses dados.</p>
        <p class="text-white">
            <strong>A exclusão desses dados removerá permanentemente sua conta e não poderá ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-lg btn-primary mb-3 w-100" type="submit">Baixar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger btn-lg w-100">Deletar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
